#overlay {
    background: #696969;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 4;
    -webkit-animation: fadein 2s;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 50%;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.meme {
  width: 80%;
}
